__pycache__/
*.pyc
*venv/
*.hypothesis/
*workspace/

*node_modules/
*.log
*dist/
*build/
*public/

*.gz

examples/*/data*
examples/*/output*

plugins/*
PluginPackage/*/input/*
PluginPackage/*/output/*
